HTML CSSResult Skip Results Iframe
EDIT ON
/*STYLES GENERAUX*/
*{
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}

/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    padding: 20px 0px;
    background-image: linear-gradient(to left, #8CA9BA,#282417 );
    box-shadow: 0px 0px 15px #333;
}
header{
    border-bottom: 2px solid #fff;
    height: 120px;
}

header h1{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
}
header h2 {
    color: white;
    font-size: 1.2 em;
    width: 90%;
    margin: 0 auto;
    text-align: right;
    
}

footer{
    border-top: 2px solid #fff;
}
footer p{
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
footer a{
    color: #fff;
}

/*SECTIONS*/
section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}

section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/*SECTION INFOS*/
.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;
}
.prez{
    border-bottom: 2px dashed #ccc;
    color: #07435a;
    text-align: center;
}
.prez a{
    display: block;
    justify-content: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: #fff;
    background-color: #8CA9BA;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
.social{
    text-align: center;
    justify-content: space-around;
    margin: 10px auto 0px auto;
    
}
.social img{
    width: 40px;
    height: 40px;
}



/*SECTION EXP ET FORMATION*/
.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.exp-info{
    display: flex;
    flex-flow: column wrap;
}
.exp-logo{
    flex: 0 0 25%;
    max-width: 100px;
}
.exp-info{
    flex: 0 0 70%;
    margin-left: auto;
}
.exp img{
    width: 100%;
}
.exp h3{
    font-size:  1.2em;
}
.exp h4{
    font-size:  1em;
    font-weight: normal;
}

/* Styles pour les compétences */
.comp, .comp2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comp p, .comp2 p {
    flex: 1;
    margin-right: 10px;
}

.progress-bar {
    width: 100%;
    height: 12px;
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    height: 12px;
    border-radius: 5px;
    background-color: #ccc;
}

progress::-webkit-progress-value {
    height: 100%;
    border-radius: 5px;
    background: #007bff;
}



/*SECTION INTERETS*/
.interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}

/*VERSION BUREAU DU CV*/
@media screen and (min-width: 980px){
    section{
        width: 80%;
        box-shadow: 0px 0px 10px #bbb;
    }
    a:hover{
        color: rgb(137, 216, 232);
    }
    header h1{
        width: 80%;
    }
    .prez, .contact{
        flex: 0 0 45%;
    }
    .prez{
        border-bottom: none;
        border-right: 2px solid #ccc;
        padding-right: 20px;
        margin-left: auto;
    }
    .contact{
        padding-left: 20px;
        margin-right: auto;
    }
    .prez a{
        border: 2px solid transparent;
    }
    .prez a:hover{
        color: #558baf;
        background-color: #fff;
        border: 2px solid #5493c6;
        box-shadow: 0px 0px 20px #666;
    }
    .exp-logo{
        flex: 0 0 10%;
    }
    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interet{
        flex: 0 1 25%;
    }
    nav a{
        color: black;
        text-decoration: none;
        width: 100px;
        text-align: center;
        display: inline-block;
        padding: 10px;
        margin: 10px;
        border: 1px solid rgb(203, 180, 33);
        border-radius: 10px;
    }
    nav{
        margin: auto;
        width: 60%;
    }
.img_center{
        margin: 20px;
        padding: 20px;
        display:block;
        margin-left: 400px;
    }
}